.productList {
  list-style-type: none;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #ccc;
  padding: 10px;
  border-radius: 2px;
}

.productList img {
  width: 200px;
  cursor: pointer;
}

.productList p {
  cursor: pointer;
  margin-left: 10px;
}

.productList span {
  font-weight: bold;
  margin-left: 10px;
  font-size: 1.4em;
}

.productList button {
  background-color: orange;
  height: 30px;
  border-style: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  float: right;
}
